@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* border: 2px solid pink; */
}

html {
    font-size: 17px;
}

h1 {
    font-size: 2rem;
    font-weight: 900;
}

h2 {
    font-size: 1.6rem;
    font-weight: 700;
    color: #274e13;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #274e13;

}

h4 {
    font-weight: 400;
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
}

a:hover,
button:hover {
    cursor: pointer;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

header {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("/assets/header/coding.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.title {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: #6aa84fff;
}

.title>h1 {
    margin: 0;
    padding-bottom: .5rem;
    color: white;
    border-bottom: 4px solid #fff;
}

.title>h2 {
    margin: 0;
    padding-top: .5rem;
}

.title>h1,
.title>h2 {
    width: 15rem;
}

.arrow {
    width: 3rem;
    height: 3rem;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    border-radius: 50%;
    background-color: #6aa84fff;
    box-shadow: 5px 5px 10px #0000004d;
}

.arrow>img {
    margin-top: .25rem;
    width: 60%;
    height: 60%;
}

.intro {
    width: 100%;
    height: 100vh;
    margin: 0;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hello {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about{
    padding: 1rem;
}

.hello>h2 {
    margin: 0;
    padding: 0rem 2rem .5rem 2rem;
}

.hello>p {
    margin: 0;
    padding: .5rem 2rem 0rem 2rem;

}

.desktop-contact {
    display: none;
    width: auto;
    height: auto;
    padding: 1rem;
}

.desktop-contact>img {
    height: 15rem;
    width: 13.5rem;
    object-fit: cover;
    object-position: center 25%;
    border-radius: 1.5rem 1.5rem 0 0;
    margin: 0;
    box-shadow: 5px 5px 10px #0000004d;
}

.contact-card {
    height: 7.5rem;
    width: 13.5rem;
    background-color: #6aa84fff;
    border-radius: 0 0 1.5rem 1.5rem;
    box-shadow: 5px 5px 10px #0000004d;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact-card>a>p{
    margin: .5rem 0;
}

.contact-card>a{
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-card>a>img {
    height: 2rem;
    width: auto;
    margin-right: .25rem;
}

.mobile-contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #274e13;
    height: 15%;
}

.mobile-contact>a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-contact>a>img {
    height: 80%;
    width: auto;
}

.smarts {
    width: 100vw;
    height: auto;
    padding: 1rem 0;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; */
}

.toolbelt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toolbelt>h3 {
    background-color: #6aa84fff;
    border-radius: 1rem 1rem 0 0;
    width: 80%;
    margin: 1rem 0 0 0;
    padding: .75rem;
    text-align: center;
}

.belt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.belt {
    width: 80%;
}

.tool {
    width: 27.5%;
    height: auto;
    margin: .5rem;
    display: flex;
    flex-direction: column;
    border-radius: .75rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.tool>img {
    width: 100%;
    height: auto;
    background-color: rgb(233, 240, 244);
    border-radius: .75rem .75rem 0 0;
    margin: 0;
}

.tool>h4 {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
    background-color: #6aa84fff;
    color: #fff;
    border-radius: 0 0 .75rem .75rem;
}

@keyframes background-color {
    0% {
        background-color: #6aa84fff;
    }

    50% {
        background-color: #274e13;
    }

    100% {
        background-color: #6aa84fff;
    }
}

@media (min-width: 576px) {
    html {
        font-size: 25px;
    }

    .tool {
        height: 20%
    }


}

@media (min-width: 768px) {
    html {
        font-size: 30px;
    }

    h4 {
        font-size: .9rem;
    }

    .tool {
        width: 25%;
    }

    .tool.smaller>h4 {
        font-size: .65rem;
    }
}

@media (min-width: 992px) {

    header {
        flex-direction: row;
    }

    .title {
        width: 50%;
        height: 100%;
    }

    .arrow {
        align-self: flex-end;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

    .hello {
        height: 95%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .hello p {
        font-size: .8rem;
    }

    .desktop-contact {
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
    }

    .contact-card>a>p{
        font-size: .75rem;
    }

    .mobile-contact {
        height: 5%;
    }

    .mobile-contact>a {
        display: none;
    }

    .about {
        width: 60%;
    }

    .tool {
        width: 20%;
    }

    .tool:hover>h4 {
        animation: background-color 2s infinite;
    }

    .tool.smaller>h4 {
        font-size: .8rem;
    }
}

@media (min-width: 1200px) {
    .tool {
        width: 15%;
    }

    .hello p {
        font-size: 1rem;
    }

}