.About {
    height: 1125px;
    display: flex;
    flex-direction: column-reverse;
    padding: 50px;
    align-items: flex-start;
}

.About h1 {
    font-size: 50px;
    margin: 20px 0;
}

.About p {
    font-size: 24px;

}

.About .title{
    width: 100%;
}

.quick-facts{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-self: center;
    background-color: #eff5ff;
    box-shadow: 0px 2.5px 2.5px #00000060;
    border-radius: 15px;
}

.fact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    gap: 10px;
}

.fact p{
    font-weight: bold;
    font-size: 25px;
}

.fact img{
    height: 40px;
    opacity: 50%;
}

.bio {
    width: 100%;
    text-align: justify;
}

.headshot-card {
    width: 325x;
    height: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: #eff5ff;
    border-radius: 15px;
    gap: 20px;
    box-shadow: 0px 2.5px 2.5px #00000060;
    margin-top: 20px;
}

.headshot {
    width: 275px;
    object-fit: cover;
    border-radius: 10px;
}

@media only screen and (min-width: 945px) {

    .About{
        height: auto;
        flex-direction: row;
        gap: 40px;
    }


}