.About {
    height: 1125px;
    display: flex;
    flex-direction: column-reverse;
    padding: 50px;
    font-family: sans-serif;
    align-items: center;
}

.About h1,
.About h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

.About h1 {
    font-size: 50px;
    margin: 0;
}

.About h2 {
    font-size: 40px;
    margin-bottom: 0;
}

.About a {
    text-decoration: none;

}

.About a:hover {
    text-decoration: underline;

}

.About a,
.About a:visited {
    color: rgb(51, 102, 204);
}

.About .title{
    width: 100%;
}

.profile-card {
    width: 325x;;
    height: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    margin: 20px 0px;
    padding: 0px 25px 20px 25px;
    background-color: rgb(248, 249, 250);
}

.headshot {
    width: 275px;
    height: 300px;
    object-fit: cover;
    object-position: 0 -15px;

}

.contact-div {
    width: 275px;
    display: flex;
    justify-content: space-between;
}

.question {
    font-weight: bold;
}

.info{
    height: 500px;
    margin: 20px 0;
}

.info p{
    font-size: 20px;
}

.bio>p{
    margin-top: 0;
}

.bio,
.resume {
    width: 100%;
}

.resume{
    padding-bottom: 100px;
}

@media only screen and (min-width: 945px) {

    .About{
        height: auto;
        flex-direction: row;
        gap: 40px;
    }


}