@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.Home h1 {
    width: 340px;
    font-size: 50px;
    color: #ff68b8ff;
    margin: 10px;
    text-shadow: 0px 2px 2px #00000040;
}

.Home h2 {
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    margin: 10px 0;
}

.fake-search-bar {
    background-color: #fff;
    width: 340px;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
    box-shadow: 0px 2px 2px #00000040;
    animation: rise 1s forwards 2s;
    transform: translateY(50px);
    opacity: 0;
}

.fake-search {
    width: 20px;
    height: 20px;
    margin: 0;
    animation: rotate 1s forwards 2.5s;
}

@media only screen and (min-width: 501px) {
    .Home h1 {
        font-size: 60px;
        width: 402px;
    }

    .Home h2 {
        font-size: 25px;
    }

    .fake-search-bar {
        width: 402px;
        margin-bottom: 50px;
    }

}

@media only screen and (min-width: 650px) {
    .Home h1 {
        font-size: 80px;
        width: 535px;
    }

    .Home h2 {
        font-size: 30px;
    }

    .fake-search-bar {
        width: 535px;
    }

    .fake-search {
        width: 30px;
        height: 30px;
    }
}

@media only screen and (min-width: 810px) {
    .Home h1 {
        font-size: 100px;
        width: 670px;
    }

    .Home h2 {
        font-size: 40px;
    }

    .fake-search-bar {
        width: 640px;
    }

    .fake-search {
        width: 40px;
        height: 40px;
    }
}