.App {
  width: 95vw;
  height: 95vh;
  font-family: 'Roboto', sans-serif;
  animation: scale-y .25s forwards;
}

a {
  text-decoration: none;

}

a:hover {
  text-decoration: underline;

}

button {
  font-family: 'Roboto', sans-serif;
}

button:hover,
a:hover {
  cursor: pointer;
}

main {
  background-image: linear-gradient(135deg, #fff, #dce9ff);
  border-radius: 0 0 15px 15px;
  height: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
  overflow-y: scroll;
  box-shadow: 5px 5px 10px #00000060;
}


.pink {
  background-color: #ff68b8ff;
}

.blue {
  background-color: #4a86e8ff;
}

.green {
  background-color: #5acc29ff;
}

.pink-text {
  color: #ff68b8ff;
}

.blue-text {
  color: #4a86e8ff;
}

.green-text {
  color: #5acc29ff;
}

@media only screen and (min-height: 310px) {
  main {
    height: 60%;
  }

}

@media only screen and (min-height: 350px) {
  main {
    height: 65%;
  }

}

@media only screen and (min-height: 400px) {
  main {
    height: 70%;
  }

}

@media only screen and (min-height: 460px) {
  main {
    height: 75%;
  }

}

@media only screen and (min-height: 550px) {
  main {
    height: 82.5%;
  }

}

@media only screen and (min-height: 705px) {
  main {
    height: 85%;
  }

}

@keyframes rise {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes grow-width {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg)
  }
}

@keyframes scale-y {
  0%{
    transform: scaleY(0);
  }
  100%{
    transform: scaleY(1);
  }
}