.App {
  width: 95vw;
  height: 95vh;
}

button:hover,a:hover{
  cursor: pointer;
}

main {
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  height: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
  overflow-y: scroll;
  box-shadow: 5px 5px 10px #00000060;
}


.pink {
  background-color: #ff68b8ff;
}

.yellow {
  background-color: #ffd966ff;
}

.blue {
  background-color: #4a86e8ff;
}

.green {
  background-color: #5acc29ff;
}

@media only screen and (min-width: 900px) {
  .App {
    width: 90vw;
    height: 90vh;
  }
}

@media only screen and (min-height: 310px) {
  main {
    height: 60%;
  }

}

@media only screen and (min-height: 350px) {
  main {
    height: 65%;
  }

}

@media only screen and (min-height: 400px) {
  main {
    height: 70%;
  }

}

@media only screen and (min-height: 460px) {
  main {
    height: 75%;
  }

}

@media only screen and (min-height: 550px) {
  main {
    height: 82.5%;
  }

}

@media only screen and (min-height: 705px) {
  main {
    height: 85%;
  }

}