.App {
  width: 95vw;
  height: 95vh;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button{
  font-family: 'Roboto', sans-serif;
}

button:hover,a:hover{
  cursor: pointer;
}

main {
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  height: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
  overflow-y: scroll;
  box-shadow: 5px 5px 10px #00000060;
}

.main-error{
  overflow-y:hidden !important;
}

.bold{
  font-weight: bold !important;
}

.pink {
  background-color: #ff68b8ff;
}

.blue {
  background-color: #4a86e8ff;
}

.green {
  background-color: #5acc29ff;
}

.pink-text {
  color: #ff68b8ff !important;
}

.blue-text {
  color: #4a86e8ff !important;
}

.green-text {
  color: #5acc29ff !important;
}

@media only screen and (min-height: 310px) {
  main {
    height: 60%;
  }

}

@media only screen and (min-height: 350px) {
  main {
    height: 65%;
  }

}

@media only screen and (min-height: 400px) {
  main {
    height: 70%;
  }

}

@media only screen and (min-height: 460px) {
  main {
    height: 75%;
  }

}

@media only screen and (min-height: 550px) {
  main {
    height: 82.5%;
  }

}

@media only screen and (min-height: 705px) {
  main {
    height: 85%;
  }

}