header {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    align-items: flex-end;
    font-family: 'Roboto', sans-serif;
    background-color: #00000091;
    border-radius: 15px 15px 0 0;
    border-bottom: 20px solid #00000091;
    box-shadow: 5px 5px 10px #00000060;

}

header nav {
    display: none;
    display: flex;
    width: 100%;
    overflow-x: scroll;
    padding: 0 10px;
}

header nav a {
    width: 100%;
    color: #cfe2f3;
    text-decoration: none;
    font-size: 16px;
}

header nav a div {
    width: 100%;
}

header nav a:hover {
    text-decoration: none !important;

}

header nav div {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 5px;
    margin-top: 10px;
}

.fake-buttons {
    height: 70px;
    width: auto;
    display: none;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 0 0 0 20px;
}

.dot {
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.dot.pink {
    display: none;
    animation: pink-dot .5s forwards 2.5s;

}

.dot.blue {
    display: none;
    animation: blue-dot .5s forwards 2.75s;
}

.dot.green {
    display: none;
    animation: green-dot .5s forwards 3s;
    margin-right: 10px;
}

.active {
    color: #fff;
    background-color: #00000091;
    border-radius: 15px 15px 0 0;
}

@media only screen and (min-width: 360px) {
    header nav a {
        font-size: 18px;
    }
}

@media only screen and (min-width: 445px) {
    header nav a {
        font-size: 20px;
    }

    .active{
        font-weight: bold;
    }
}

@media only screen and (min-width: 555px) {
    .fake-buttons {
        display: flex;
    }

    .dot.pink {
        display: block;
    }

    header nav a {
        font-size: 24px;
    }

    .projects {
        margin: 0;
    }
}

@media only screen and (min-width: 560px) {


    .dot.blue,
    .dot.green {
        display: block;
    }

    .fake-buttons {
        width: 90px;
    }
}

@media only screen and (min-width: 695px) {

    header nav a {
        font-size: 28px;
    }

    .fake-buttons {
        width: 130px;
        height: 70px;
        padding: 0 0 0 30px;
    }

    .dot {
        border-radius: 50%;
        width: 20px;
        height: 20px;
    }

}

@keyframes pink-dot {
    0%{
        background-color: #ff68b8ff;
    }
    50%{
        background-color: #ffb8de;
    }
    100%{
        background-color: #ff68b8ff;
    }
}

@keyframes blue-dot {
    0%{
        background-color: #4a86e8ff;
    }
    50%{
        background-color: #a4c7ff;
    }
    100%{
        background-color: #4a86e8ff;
    }
}

@keyframes green-dot {
    0%{
        background-color: #5acc29ff;
    }
    50%{
        background-color: #8ef462;
    }
    100%{
        background-color: #5acc29ff;
    }
}