@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.Projects {
    width: 100%;
    height: 1780px;
    font-family: 'Lato', sans-serif;
    background-color: #efefefff;
}

.fake-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 5px 5px #00000030;
}

.fake-header h1 {
    font-size: 40px;
    margin: 0;
}

.social-logo {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    color: #4986e8ff;
    margin-left: 10px;
}

.social-icon {
    width: 50px;
    height: 50px;
    background-color: #4986e8ff;
    padding: 7.5px;
    border-radius: 50%;
}

.hamburger {
    margin-right: 30px;
}

.hamburger-bar {
    width: 50px;
    height: 5px;
    margin: 10px 0;
    background-color: #d2d2d2;
}

.post-body {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 40px;
    flex-wrap: wrap;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 790px;
    background-color: #fff;
    border-radius: 12.5px;
    box-shadow: 0px 5px 5px #00000030;
}

.post img {
    width: 500px;
    background-color: #e2edff;
}

.post p{
    padding: 0 20px;
    font-size: 20px;
    line-height: 1.5;
}

.post-title {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
}

.post-title h1 {
    font-size: 35px;
    color: #416a91;
    margin: 0;
}

.post-title p {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    color: #fff;
    background-color: #4986e8ff;
    font-size: 20px;
    border-radius: 50%;
}

.post-bottom{
    padding-bottom: 20px;
}

.post hr{
    width: 90%;
    border: 2px solid #d2d2d2;
}

.post-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.post-buttons a{
    text-decoration: none;

}

.post-buttons button{
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: none;
    color: #909090;
    background-color: transparent;
}

.live img{
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.github img{
    width: 40px;
    height: auto;
    margin-right: 15px;
    opacity: 40%;
}

@media only screen and (min-width: 1156px) {

    .Projects{
        height: 960px;
    }


}