
.post {
    width: 300px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 12.5px;
    box-shadow: 0px 2px 2px #00000030;
    margin-bottom: 10px;
}

.post-img {
    width: 300px;
}

.post p{
    padding: 0 20px;
    font-size: 20px;
    line-height: 1.5;
}

.post-title {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
}

.post-title h1 {
    font-size: 35px;
    margin: 0;
}

.post-title p {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.post-tools{
    height: 100px;
    font-weight: bold;
}

.post-description{
    height: auto;
    text-align: center;
}

.post-bottom{
    padding-bottom: 20px;
}

.post-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.post-buttons a{
    text-decoration: none;

}

.post-buttons button{
    width: 130px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    border: none;
    color: #fff;
    box-shadow: 0px 2px 2px #00000030;
    border-radius: 10px;
    gap: 10px;
    font-weight: bold;
}

.post-buttons img{
    width: 30px;
    height: auto;
}

@media only screen and (min-width: 360px) {
    .post {
        width: 320px;
        margin-bottom: 30px;
    }

    .post-img {
        width: 320px;
    }

    .post-description{
        text-align: justify;
    }

    .post-buttons button{
        width: 140px;
    }
}

@media only screen and (min-width: 450px) {
    .post {
        width: 400px;
    }

    .post-img {
        width: 400px;
    }

    .post-buttons button{
        width: 140px;
        height: 65px;
        font-size: 26px;
    }

    .post-buttons img{
        width: 30px;
    }

    .post-buttons{
        gap: 30px
    }
}

@media only screen and (min-width: 600px) {
    .post {
        width: 500px;
    }

    .post-img {
        width: 500px;
    }

    .post-buttons button{
        width: 180px;
        height: 75px;
        font-size: 30px;
    }

    .post-buttons img{
        width: 40px;
    }
}

@media only screen and (min-width: 1160px) {
    .post-description{
        height: 360px;
    }
}