.Loading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.Loading h1 {
    font-size: 60px;
    color: #f3f3f3ff
}