*{
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(135deg, #6d9eebff, #351c75ff);
  padding: 0;
  margin: 0;
}
